.pricing-blue-card {
    background-color: #384bff;
    padding: 15px;
    border-radius: 20px;
}

.pricing-blue-card img {
    margin-left: 90px;
}

.pricing-blue-card h5,
.pricing-blue-card p {
    color: white;
}

.pricing-blue-card span {
    font-size: xx-large;
}

.pricing-card {
    width: 100%;
    padding: 25px;
    border-radius: 20px;
}

.pricing-card ul {
    list-style-type: none;
    color: rgb(99, 97, 97);
    padding-top: 20px;
    font-weight: 100;
}

.pricing-card button {
    width: 100%;
    color: #384bff;
}

.pricing-card:hover.pricing-card button {
    color: white;
    background-color: rgb(19, 19, 69);
}

.pricing-card:hover.pricing-card .pricing-blue-card {

    background-color: rgb(19, 19, 69);
}

.pricing-card ul li {
    padding: 5px;
}
@media (max-width:900px) {
    .pricing-card{width: 100%;}
 
}