.card1 {
    padding: 25px;
    background-color: #f2f6fe;
    border-radius: 20px;
    margin-left: 30px;
    width: 90%;

}

.card button {
    background-color: rgba(255, 255, 255, 0);
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 6px;
    width: max-content;
    color: rgb(101, 100, 100)
}

.card p {
    color: rgb(101, 100, 100);

}

.card h5 {
    font-weight: 800;
}

.icon-div {
    border: 1px solid rgb(185, 181, 181);
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}