@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');


.card-info {
    background-color: rgba(240, 248, 255, 0);
    padding: 10px;
    width: 90%;
    border: none;
}

.card-info h5 {
    color: white;

}

.card-info:hover.card-info h4 {
    color: white;
}

.card-info p {
    color: rgba(255, 255, 255, 0.698);
    font-weight: 500;
}

.card-info h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgba(255, 255, 255, 0.327);
    font-size: xx-large;
}

.card-info:hover {
    color: white;
}