*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.blue{
    color: #384bff;
}
.nav-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    border-radius:40px;
    box-shadow: 4px 4px  rgb(194, 191, 191);
  padding-right: 10px;
    align-self: center;
    background-color: white;
 z-index: 200000;
  position:fixed;
  top:0px;
}
.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: 10px;
   padding-right: 40px;
}
.nav1 ul li{
    padding: 10px;
    list-style: none;
}
.nav1 button{
    padding: 10px ;
    color: white;
    background-color:#384bff;
    border: none;
    border-radius: 20px;
 padding-left: 20px;
   padding-right: 20px;
   margin-left: 20px;

}

.nav1 img{
    padding-left: 20px;
}
 .link{
    text-decoration: none;
    color: black;
}


@media (max-width:800px) {
    .toggle-button{
        display: block;
        background-color: white !important;
        color: #384bff !important;
    }
    .me-auto{
       display: none !important;
       
    }

    .me-auto.true{
        display: flex !important;
        flex-direction: column !important;
      margin-left: 0px !important;
      padding-left: 0px !important;
      }
      .nav1{width: 90%;}
}