.nav2 button{
    padding: 10px ;
    color:black;
    background-color:white;
    border: none;
    border-radius: 20px;
 padding-left: 20px;
   padding-right: 20px;
   margin-left: 20px;
transform: translate(0px,-10px);

}
.nav2 img{
 margin-right: 120px; 
}
.me-auto{
  margin-left: 150px;
  margin-top: 20px;
}
.blue-div{
    background-color: #384bff;

}
.absolute-nav-img{
  position: absolute;
  left: 0;
}
.logo{
  margin-left: 120px;
}
.nav2{
  position: fixed;
  top: 0;
  z-index: 1000000;
  background-color: white;
  width: 100%;
  

}

.me-auto.true{
  display: flex;
  flex-direction: column;
}
.toggle-button{
  display: none;}
.link{
  text-decoration: none;
  color: rgb(67, 66, 66);
}
@media (max-width:800px) {
  .me-auto{
    display: none;
    
  }
.nav2 img{
  margin-right: 0px;
}

.toggle-button{
  display: block;
}
.me-auto{
  display:none;
  flex-direction: column;
}
.toggle-button{
  margin-top: 10px;
 
}

}
